<nz-content style="margin:0 16px;">
    <nz-breadcrumb style="margin:16px 0;">
      <nz-breadcrumb-item><i class="fa fa-home"></i></nz-breadcrumb-item>
      <nz-breadcrumb-item routerLink="/" class="cur">首页</nz-breadcrumb-item>
      <nz-breadcrumb-item>游戏管理</nz-breadcrumb-item>
      <nz-breadcrumb-item>抢包历史记录</nz-breadcrumb-item>
    </nz-breadcrumb>
    <section  style="padding:12px; background: #fff; min-height: 360px;">
      <section class="header">
        <i class="fa fa-table"></i>
        抢包历史列表
      </section>
      <section class="main-content">
        <section class="select-lottery">
          <input nz-input nzSize="small" placeholder="用户ID" [(ngModel)]="searchData.user_id" class="select-lottery-input" />&nbsp;&nbsp;
          <input nz-input nzSize="small" placeholder="用户昵称" [(ngModel)]="searchData.username" class="select-lottery-input" />&nbsp;&nbsp;
          <input nz-input nzSize="small" placeholder="订单ID" [(ngModel)]="searchData.project_id" class="select-lottery-input" />&nbsp;&nbsp;
          <nz-range-picker nzSize="small" [(ngModel)]="dateRange" (ngModelChange)="onChange($event)" nzShowTime></nz-range-picker>&nbsp;
          <button nz-button nzType="primary" class="select-search" (click)="getDataList()"><i nz-icon type="search"></i>搜索</button>&nbsp;&nbsp;
          <button nz-button nzType="primary" class="select-reset" (click)="resetSearch()"><i nz-icon type="sync"></i>重置</button>
        </section>
        <nz-table  nzShowQuickJumper [nzShowPagination]="false" [nzData]="tableList">
          <thead class="ant-table-thead">
          <tr>
            <th nzWidth="6%">ID</th>
            <th nzWidth="10%">专场</th>
            <th nzWidth="6%">订单ID</th>
            <th nzWidth="7%">发包用户</th>
            <th nzWidth="7%">发包金额</th>
            <th nzWidth="7%">抢包用户</th>
            <th nzWidth="7%">抢包金额</th>
            <th nzWidth="7%">是否中雷</th>
            <th nzWidth="7%">中雷赔付</th>
            <th nzWidth="7%">幸运大奖</th>
            <th nzWidth="11%">抢包时间</th>
<!--            <th>操作</th>-->
          </tr>
          </thead>
          <tbody class="ant-table-tbody">
            <tr *ngFor="let item of tableList">
              <td>{{item.user_id}}</td>
              <td>{{item.room_name}}</td>
              <td>{{item.project_id}}</td>
              <td>{{item.owner_nickname}}</td>
              <td>{{item.project_amount}}</td>
              <td>{{item.nickname}}</td>
              <td>{{item.fetched_amount}}</td>
              <td>{{item.is_landmine}}</td>
              <td>{{item.landmine_amount}}</td>
  
              <td>{{item.lucky_amount}}</td>
              <td>{{item.created_at}}</td>
<!--              <td>-->
<!--                  <a href="javascript:;" class="a-link" (click)="doDetail(item.id)">详情</a>-->
<!--              </td>-->
  
            </tr>
          </tbody>
        </nz-table>
        <nz-pagination [nzPageIndex]="1" [nzTotal]="page.total"  [nzPageSize]='api.pageSize'  [(nzPageIndex)]="page.index" (nzPageIndexChange)="pageChange()" nzShowQuickJumper class="nz-pagination"></nz-pagination>
      </section>
    </section>
  
  </nz-content>
