<nz-content style="margin:0 16px;">
    <nz-breadcrumb style="margin:16px 0;">
      <nz-breadcrumb-item  routerLink="/" class="cur"><i class="fa fa-home"></i></nz-breadcrumb-item>
      <nz-breadcrumb-item>首页</nz-breadcrumb-item>
      <nz-breadcrumb-item>充提管理</nz-breadcrumb-item>
      <nz-breadcrumb-item>提现日志</nz-breadcrumb-item>
    </nz-breadcrumb>
    <section style="padding:12px; background: #fff; min-height: 360px;">
      <section class="header">
        <i class="fa fa-table"></i>
        提现日志
      </section>
      <section class="main-content" style='margin-top: 10px;'>
        <nz-table  nzShowQuickJumper [nzShowPagination]="false" [nzData]="tableList">
          <thead class="ant-table-thead">
            <tr>
              <th nzWidth="7%">用户名</th>
              <th nzWidth="8%">订单号</th>
              <th nzWidth="7%">金额</th>
              <th nzWidth="7%">发起IP</th>
              <th nzWidth="8%">发起时间</th>
              <th nzWidth="8%">发起返回</th>
              <th nzWidth="9%">发起状态</th>
              <th nzWidth="9%">回调ip</th>
              <th nzWidth="9%">回调时间</th>
              <th nzWidth="6%">回调状态</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody class="ant-table-tbody">
            <tr *ngFor="let item of tableList">
              <td>{{item.nickname}}</td>
              <td>{{item.order_id}}</td>
              <td>{{item.amount}}</td>
              <td>{{item.ip}}</td>
              <td>{{item.request_time}}</td>
              <td>{{item.request_back}}</td>
              <td>{{item.request_status}}</td>
              <td>{{item.back_ip}}</td>
              <td>{{item.back_time}}</td>
              <td>{{item.back_status}}</td>
              <td>
                  <a href="javascript:;" class="a-link" (click)="logDetail(item)">详情</a>
              </td>
            </tr>
          </tbody>
        </nz-table>
        <nz-pagination [nzPageIndex]="1" [nzPageSize]='15' [nzTotal]="page.total" [(nzPageIndex)]="page.index"
          (nzPageIndexChange)="pageChange()" nzShowQuickJumper class="nz-pagination"></nz-pagination>
      </section>
    </section>

  <!-- 弹框 -->
  <nz-modal [nzOkLoading]='popup.showContentLoading' [(nzVisible)]="popup.isShowContent" nzTitle="详情" (nzOnCancel)="popupClose()" (nzOnOk)="popupConfirm()">
    <section class="tpl-lists">
      <section class="tpl-list flexa">
          <nz-table  nzShowQuickJumper [nzShowPagination]="false" [nzData]="log.detail | keyvalue">
              <thead class="ant-table-thead">
                <tr>
                  <th nzWidth="250px">发起人</th>
                  <th nzWidth="150px">金额</th>
                  <th nzWidth="150px">发起IP</th>
                  <th nzWidth="100px">状态</th>
                  <th nzWidth="150px">原因</th>
                  <th nzWidth="200px">发起时间</th>
                </tr>
              </thead>
              <tbody class="ant-table-tbody">
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </nz-table>
      </section>
    </section>
  </nz-modal>

  <!-- 日志详情 -->
  <nz-drawer
      [nzVisible]="logDetailData.show"
      [nzMaskClosable]= 'false'
      [nzWidth] = '1000'
      nzTitle="日志详情"
      (nzOnClose)="logDetailData.show = false"
  >
  <section class="drawer-box">
    
      <p class="log-tilte">发起参数</p>
       <nz-table  nzShowQuickJumper [nzShowPagination]="false" [nzData]="logDetailData.request_params | keyvalue">
          <thead class="ant-table-thead">
            <tr>
              <th nzWidth="10%">merchant_id</th>
              <th nzWidth="8%">amount</th>
              <th nzWidth="10%">order_id</th>
              <th nzWidth="8%">source</th>
              <th nzWidth="10%">client_ip</th>
              <th>sign</th>
            </tr>
          </thead>
          <tbody class="ant-table-tbody">
            <tr>
              <td>{{logDetailData.request_params.merchant_id}}</td>
<!--              <td>{{utils.computeMoney(logDetailData.request_params.amount, 10000)}}</td>-->
              <td>{{logDetailData.request_params.amount}}</td>
              <td>{{logDetailData.request_params.order_id}}</td>
              <td>{{logDetailData.request_params.source}}</td>
              <td>{{logDetailData.request_params.client_ip}}</td>
              <td>{{logDetailData.request_params.sign}}</td>
            </tr>
          </tbody>
        </nz-table>
    
        <p class="log-tilte">发起返回</p>
        <nz-table  nzShowQuickJumper [nzShowPagination]="false" [nzData]="logDetailData.content | keyvalue">
            <thead class="ant-table-thead">
              <tr>
                <th nzWidth="15%">status</th>
                <th nzWidth="15%">msg</th>
                <th nzWidth="20%">data</th>
              </tr>
            </thead>
            <tbody class="ant-table-tbody">
              <tr >
                <td>{{logDetailData.content.status}}</td>
                <td>{{logDetailData.content.msg}}</td>
                <td>{{logDetailData.content.data | json}}</td>
              </tr>
            </tbody>
        </nz-table>
        <!-- <nz-table  nzShowQuickJumper [nzShowPagination]="false" [nzData]="logDetails | keyvalue">
           <thead class="ant-table-thead">
             <tr>
               <th nzWidth="15%">回调IP</th>
               <th nzWidth="15%">回调时间</th>
               <th nzWidth="8%">回调状态</th>
               <th nzWidth="15%">回调原因</th>
             </tr>
           </thead>
           <tbody class="ant-table-tbody">
             <tr >
               <td>{{logDetails.back_ip}}</td>
               <td>{{utils.formatTime(logDetails.back_time)}}</td>
               <td>
                  <ng-container *ngIf="logDetails.back_status; else elseTemplate">
                      <i class="fa fa-check" style="color: green;"></i>
                    </ng-container>
                    <ng-template #elseTemplate>
                      <i class="fa fa-times" style="color: red;"></i>
                    </ng-template>
                 </td>
               <td>{{logDetails.back_reason}}</td>
             </tr>
           </tbody>
         </nz-table> -->
    </section>
  </nz-drawer>
</nz-content>
